{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DOH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'landingpage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">(Placeholder)</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Sign Up</a>
            </li>
        {% endif %}  
      </ul>
    </div>
  </div>
</nav>

<head><style type="text/css" id="operaUserStyle"></style></head><body><div class="AdminPage" style="width: 1980px; height: 1080px; position: relative; background: #C7D8E2">

	<!--REPORTS-->
  <div class="Reports" style="width: 274px; height: 177px; padding-left: 25px; padding-right: 25px; padding-top: 70px; padding-bottom: 70px; left: 0px; top: 903px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div class="Reports" style="color: #049246; font-size: 25px; font-family: Lato; font-weight: 400; word-wrap: break-word">Reports</div>
  </div>

	<!--DOCUMENTS -->
  <div class="Documents" style="width: 274px; padding-left: 25px; padding-right: 25px; padding-top: 70px; padding-bottom: 70px; left: 0px; top: 733px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div class="Documents" style="color: #049246; font-size: 25px; font-family: Lato; font-weight: 400; word-wrap: break-word">Documents</div>
  </div>

	<!--TEAM-->
  <div class="Team" style="width: 274px; padding-left: 25px; padding-right: 25px; padding-top: 70px; padding-bottom: 70px; left: 0px; top: 563px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div class="Team" style="color: #049246; font-size: 25px; font-family: Lato; font-weight: 400; word-wrap: break-word">Team</div>
  </div>

	<!--CALENDAR-->
  <div class="Calendar" style="width: 274px; padding-left: 25px; padding-right: 25px; padding-top: 70px; padding-bottom: 70px; left: 0px; top: 393px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div class="Calendar" style="color: #049246; font-size: 25px; font-family: Lato; font-weight: 400; word-wrap: break-word">Calendar</div>
  </div>

	<!--DASHBOARDS-->
  <div class="Dashboard" style="width: 274px; padding-left: 25px; padding-right: 25px; padding-top: 70px; padding-bottom: 70px; left: 0px; top: 223px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div class="Dashboard" style="color: #049246; font-size: 25px; font-family: Lato; font-weight: 400; word-wrap: break-word">Dashboard</div>
  </div>
  <div class="Rectangle9" style="width: 1531px; height: 778px; left: 347px; top: 259px; position: absolute; background: white; box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15); border-radius: 15px"></div>

	<!--REGISTRATION RECORD-->
  <div class="RegistrationRecord" style="width: 410px; padding-left: 30px; padding-right: 30px; padding-top: 15px; padding-bottom: 15px; left: 393px; top: 284px; position: absolute; background: #2E9FDF; border-radius: 15px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div class="Frame20" style="background: #2E9FDF; border-radius: 15px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="text-align: center; color: white; font-size: 50px; font-family: Lato; font-weight: 900; word-wrap: break-word">1000</div>
      <div class="RegistrationRecords" style="text-align: center; color: white; font-size: 30px; font-family: Lato; font-weight: 300; word-wrap: break-word">Registration Records</div>
    </div>
    <img class="Rectangle10" style="width: 102px; height: 94px" src="{% static 'COMPLETE ENCODING.png' %}">
  </div>

	<!--ENCODING ERROR-->
  <div class="EncodingError" style="width: 411px; padding-left: 30px; padding-right: 30px; padding-top: 15px; padding-bottom: 15px; left: 868px; top: 284px; position: absolute; background: #DF2E2E; border-radius: 15px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div class="Frame20" style="width: 264px; background: #DF2E2E; border-radius: 15px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
      <div class="6" style="text-align: center; color: white; font-size: 50px; font-family: Lato; font-weight: 900; word-wrap: break-word">99.6%</div>
      <div class="EncodingErrors" style="text-align: center; color: white; font-size: 30px; font-family: Lato; font-weight: 300; word-wrap: break-word">Encoding Errors</div>
    </div>
    <img class="Rectangle10" style="width: 102px; height: 94px" src="{% static 'ENCDOING ERRORS.png' %}">
  </div>

	<!--COMPLETE ENCODING-->
  <div class="CompleteEncoding" style="width: 411px; padding-left: 30px; padding-right: 30px; padding-top: 15px; padding-bottom: 15px; left: 1344px; top: 284px; position: absolute; background: #049246; border-radius: 15px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div class="Frame20" style="width: 264px; background: #049246; border-radius: 15px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
      <div class="03" style="text-align: center; color: white; font-size: 50px; font-family: Lato; font-weight: 900; word-wrap: break-word">0.03%</div>
      <div class="CompleteEncoding" style="text-align: center; color: white; font-size: 30px; font-family: Lato; font-weight: 300; word-wrap: break-word">Complete Encoding</div>
    </div>
    <img class="Rectangle10" style="width: 102px; height: 94px" src="{% static 'COMPLETE ENCODING.png' %}">

	<!--SUMMARY-->
  </div>
  <img class="6" style="width: 425px; height: 425px; left: 877px; top: 493px; position: absolute" src="{% static 'Asset 9.png' %}">
  <img class="3" style="width: 425px; height: 425px; left: 1330px; top: 493px; position: absolute" src="{% static 'Asset 8.png' %}">
  <img style="width: 425px; height: 425px; left: 424px; top: 493px; position: absolute" src="{% static 'Asset 10.png' %}">

	<!--DOH LOGO-->
  <div class="DohLogo" style="width: 1980px; padding: 40px; left: 0px; top: 0px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 567px; display: inline-flex">
    <img class="Rectangle11" style="width: 807px; height: 152px" src="{% static 'DOH_logo.png' %}">
    <div class="WelcomeBackJohnDoe" style="text-align: center; color: #049246; font-size: 30px; font-family: Lato; font-weight: 400; word-wrap: break-word">Welcome back, John Doe!</div>
  </div>
</div></body></html>